/* GENERAL */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #faf6ff;
}

/* MENÚ SUPERIOR */
.menu-superior {
    background: #f3d1ff;
    width: 100%;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #5a2d82;
    font-weight: 500;
    font-size: 1rem;
}

nav a:hover {
    color: #000;
}

nav a.activo {
    font-weight: 700;
    color: #000;
}

/* TÍTULOS */
.titulo {
    margin-top: 40px;
    text-align: center;
    color: #5a2d82;
    font-size: 2rem;
}

.subtitulo {
    text-align: center;
    color: #7a4fa1;
    margin-top: -5px;
    margin-bottom: 40px;
}

/* GALERÍA DE LIBROS */
.galeria {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 25px;
}

.galeria img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: transform .2s, box-shadow .2s;
}

.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}