ul li{
    display: inline-block;
    margin: 5px;
    position: relative;
    z-index: 50px;
  }
  .cajita{
    position: fixed;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 39%;
    position: relative;
    left: 820px;
    bottom: 120px; 
  
  }
  
  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  
  }
  li a:hover{
   background-color: rgb(20, 177, 177);
  
  }
  
   
  
  button{
    background-color:aqua;
    border-radius: 10px;
    
  }
    
  
  
  h1{
    position: relative;
    bottom: 1px;
   left: 100px;
  
  }
  
  
  img{
  position: relative;
  bottom: 80px;
  right: 20px;
  
  }
  .logo{
    background-color: gray;
    height: 3rem;
    width: 101%;
    position: relative;
    top: -21px;
  
  }
    
  
  

.caja{
    width: 300px;
    height: 300px;
    background-color: rgb(230, 114, 114);
    border-radius: 50px;
    border: 2px solid;
}

input[ type="submit"] {
    border-radius: 5px;


}
